<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient data</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Heart failure prognostics</h1>

<h2> Fill out the patient's data </h2>
<p>
    Please enter the patient data below.<br>
    The algorithm will estimate probability of their passing away due to a heart
    failure.
</p>
{% from "_formhelpers.html" import render_field %}

<form method="post" action="/results">
    {% for field, label in zip(form.fields, labels) %}
    <d1>
        {{ render_field(field, label) }}
    </d1>
    {% endfor %}
    <input type=submit value="Submit" name="submit_btn">
</form>

<h2> Feature distributions for reference </h2>
<img src="/static/features_distr.png" alt="Feature distributions for surviving and deceased patients">
<img src="/static/binary_features_distr.png" alt="Feature distributions for surviving and deceased patients">

</body>
</html>